{% liquid
  assign theme_st = settings
  assign enable_preload = theme_st.enable_preload
  assign preload_page = theme_st.preload_page
%}
{% if enable_preload %}
  <div
    id="preload-page"
    {% if preload_page == 'background' %}
      style="background-color: #fff"
    {% endif %}
    class="preload-page fixed bg-white z-50 pointer-events-none inset-0 flex items-center justify-center transition-opacity duration-300 opacity-100"
  >
    {% if preload_page == 'spin' %}
      <span class="preload-screen-spinner"></span>
    {% elsif preload_page == 'loading' %}
      <span class="preload-screen-loading-bar"></span>
    {% endif %}
  </div>
  <script>
    function PreloadPage() {
      const preload = document.querySelector('#preload-page');
      if (!preload) return;

      preload.style.position = 'fixed';
      preload.style.top = '0';
      preload.style.left = '0';
      preload.style.width = '100vw';
      preload.style.height = '100vh';
      preload.style.background = 'white';
      preload.style.zIndex = '9999';
      preload.style.pointerEvents = 'none';

      const remove = () => {
        preload.style.transition = 'opacity .2s cubic-bezier(0.7, 0, 0.2, 1)';
        preload.style.opacity = '0';
        setTimeout(() => preload.remove(), 200);
      };

      document.addEventListener('DOMContentLoaded', remove);
    }

    PreloadPage();
  </script>
{% endif %}
<style>
  url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="%23FF156D" stroke="%23FF156D" stroke-width="15" r="15" cx="40" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="%23FF156D" stroke="%23FF156D" stroke-width="15" r="15" cx="100" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="%23FF156D" stroke="%23FF156D" stroke-width="15" r="15" cx="160" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>')
</style>
